<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <title>Controllers</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
</head>
<body>
  <div class="well" ng-controller="firstCtrl">
    <h4>First Controller</h4>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="reverseText()">Reverse</button>
      </span>
      <input type="text" class="form-control" ng-model="dataValue">
    </div>
  </div>

  <div class="well" ng-controller="secondCtrl">
    <h4>Second Controller</h4>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="changeCase()">Case</button>
      </span>
      <input type="text" class="form-control" ng-model="dataValue">
    </div>
  </div>

  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript">
    angular.module("exampleApp", [])
      .controller("firstCtrl", function($scope) {
        $scope.dataValue = "Hello, Adam";

        $scope.reverseText = function() {
          $scope.dataValue = $scope.dataValue.split("").reverse().join("");
        };
      })
      .controller("secondCtrl", function($scope) {
        $scope.dataValue = "Hello, Timon";

        $scope.changeCase = function() {
          $scope.dataValue = $scope.dataValue.toUpperCase();
        };
      });
  </script>
</body>
</html>